node-red/data/flows.json
[{"id":"79f6f23a.4d4f2c","type":"tab","label":"Sampling Example","disabled":false,"info":""},{"id":"bc8f8244.36d418","type":"tab","label":"Sampling Example Consumer","disabled":false,"info":""},{"id":"6cadc344.ae395c","type":"tab","label":"ServiceProviderXML","disabled":false,"info":""},{"id":"f04b0244.fde43","type":"tab","label":"ServiceConsumerJSON","disabled":false,"info":""},{"id":"68c7511d.15c8d","type":"amqp-server","host":"rabbitmq","port":"5672","vhost":"/","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"dfd91bb9.1d0b38","type":"http in","z":"79f6f23a.4d4f2c","name":"Sampling","url":"/sampling","method":"post","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["3471e070.070d2","e07e16d1.b50f08"]]},{"id":"76e7e94f.81de88","type":"http response","z":"79f6f23a.4d4f2c","name":"","statusCode":"","headers":{},"x":590,"y":300,"wires":[]},{"id":"bca6434b.24d64","type":"debug","z":"79f6f23a.4d4f2c","name":"To Broker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1120,"y":160,"wires":[]},{"id":"3471e070.070d2","type":"change","z":"79f6f23a.4d4f2c","name":"Collect Data","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.measurements[0].time","tot":"msg"},{"t":"set","p":"device","pt":"msg","to":"payload.asset.assetID","tot":"msg"},{"t":"set","p":"source","pt":"msg","to":"payload.asset.source","tot":"msg"},{"t":"set","p":"sampleIDArray","pt":"msg","to":"payload.measurements[0].series.sampleID","tot":"msg"},{"t":"set","p":"frequencyArray","pt":"msg","to":"payload.measurements[0].series.frequency","tot":"msg"},{"t":"set","p":"amplitudeArray","pt":"msg","to":"payload.measurements[0].series.amplitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["246a3901.c0bc66"]]},{"id":"e07e16d1.b50f08","type":"change","z":"79f6f23a.4d4f2c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Messages to be sent to RabbitMQ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["76e7e94f.81de88"]]},{"id":"246a3901.c0bc66","type":"function","z":"79f6f23a.4d4f2c","name":"Create Objects","func":"const sampleArray=[];\nvar sampleIDArray=msg.sampleIDArray;\nvar frequencyArray=msg.frequencyArray;\nvar amplitudeArray=msg.amplitudeArray;\n\nfor (var j = 0; j < sampleIDArray.length; j++){\n    let object={};\nobject.sampleID=sampleIDArray[j];\nobject.frequency=frequencyArray[j];\nobject.amplitude=amplitudeArray[j];\nsampleArray[j]=object;\n}\nmsg.payload=sampleArray;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["9a455de0.7c795"]]},{"id":"9a455de0.7c795","type":"split","z":"79f6f23a.4d4f2c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":220,"wires":[["e33ffad8.0403c8"]]},{"id":"9e30a551.550a78","type":"amqp out","z":"79f6f23a.4d4f2c","name":"","routingkey":"qu4lity","iotype":"4","ioname":"qu4lity","server":"68c7511d.15c8d","x":1190,"y":220,"wires":[]},{"id":"8fef154b.5e6cb8","type":"inject","z":"79f6f23a.4d4f2c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":500,"wires":[["c0a093a7.590c3"]]},{"id":"c0a093a7.590c3","type":"amqp in","z":"79f6f23a.4d4f2c","name":"","topic":"qu4lity","iotype":"4","ioname":"qu4lity","server":"68c7511d.15c8d","x":370,"y":500,"wires":[["46075d95.58b4a4"]]},{"id":"46075d95.58b4a4","type":"debug","z":"79f6f23a.4d4f2c","name":"From Broker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":500,"wires":[]},{"id":"e33ffad8.0403c8","type":"change","z":"79f6f23a.4d4f2c","name":"","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"timestamp","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"device","tot":"msg"},{"t":"set","p":"payload.source","pt":"msg","to":"source","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[["9e30a551.550a78","bca6434b.24d64"]]},{"id":"94980e74.5b58","type":"http in","z":"6cadc344.ae395c","name":"Sensor Measurement","url":"/sensorMeasurement","method":"post","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["1926486a.ac7f7","76aa2f50.9e4fd8","df14c175.0aea58"]]},{"id":"df14c175.0aea58","type":"http response","z":"6cadc344.ae395c","name":"","statusCode":"","headers":{},"x":770,"y":260,"wires":[]},{"id":"51f054a1.ea4244","type":"debug","z":"6cadc344.ae395c","name":"Provider Object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":180,"wires":[]},{"id":"1926486a.ac7f7","type":"xml","z":"6cadc344.ae395c","name":"","property":"payload","attr":"","chr":"","x":470,"y":180,"wires":[["51f054a1.ea4244"]]},{"id":"76aa2f50.9e4fd8","type":"debug","z":"6cadc344.ae395c","name":"Provider Document","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":320,"wires":[]},{"id":"1c2dc10f.fe6757","type":"http request","z":"f04b0244.fde43","name":"POST WSO2 convertor","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://wso2:8280/MeasureConvertor/convertorAPI","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":240,"wires":[["b9b1f827.2527a8","fbc084e.5285178"]]},{"id":"6ee7465e.76e738","type":"inject","z":"f04b0244.fde43","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["58ec77b4.668b4"]]},{"id":"58ec77b4.668b4","type":"template","z":"f04b0244.fde43","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"assetID\": \"12345\",\n\t\"source\": \"Signal_sensor_1\",\n\t\"time\": \"2021-06-15T02:28:03.743Z\",\n\t\"value\": 54,\n\t\"unit\": \"celsius\"\n}","output":"json","x":300,"y":240,"wires":[["1c2dc10f.fe6757"]]},{"id":"b9b1f827.2527a8","type":"xml","z":"f04b0244.fde43","name":"","property":"payload","attr":"","chr":"","x":750,"y":240,"wires":[["2001f617.c8c262"]]},{"id":"fbc084e.5285178","type":"debug","z":"f04b0244.fde43","name":"Consumer Document","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":180,"wires":[]},{"id":"2001f617.c8c262","type":"debug","z":"f04b0244.fde43","name":"Consumer Object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":240,"wires":[]},{"id":"afd8a7e1.69a988","type":"comment","z":"f04b0244.fde43","name":"JSON to XML convertor","info":"","x":210,"y":80,"wires":[]},{"id":"5fd6b05.66425d","type":"comment","z":"6cadc344.ae395c","name":"Legacy service","info":"This service only accepts XML files.","x":190,"y":100,"wires":[]},{"id":"16d50cb5.612dab","type":"comment","z":"79f6f23a.4d4f2c","name":"Split","info":"Splits array into single elements and sends an AMQP message for each of them.","x":140,"y":100,"wires":[]},{"id":"92660946.590138","type":"comment","z":"bc8f8244.36d418","name":"How to consume Sampling Example","info":"","x":240,"y":60,"wires":[]},{"id":"1797d87e.98e64","type":"inject","z":"bc8f8244.36d418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["dce8968d.7c1c68"]]},{"id":"151dd84.77c2028","type":"http request","z":"bc8f8244.36d418","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/sampling","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":160,"wires":[["45f8ecaa.55d194"]]},{"id":"45f8ecaa.55d194","type":"debug","z":"bc8f8244.36d418","name":"Sampling Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"dce8968d.7c1c68","type":"template","z":"bc8f8244.36d418","name":"Multiple measurements","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"asset\": {\n\t\t\"assetID\": \"12345\",\n\t\t\"source\": \"Signal_sensor_1\"\n\t},\n\t\"measurements\": [\n\t\t{\n\t\t\t\"time\": \"2021-06-15T02:28:03.743Z\",\n\t\t\t\"series\": {\n\t\t\t\t\"sampleID\": [\n\t\t\t\t\t0,\n\t\t\t\t\t1,\n\t\t\t\t\t2,\n\t\t\t\t\t3,\n\t\t\t\t\t4,\n\t\t\t\t\t5,\n\t\t\t\t\t6,\n\t\t\t\t\t7,\n\t\t\t\t\t8,\n\t\t\t\t\t9,\n\t\t\t\t\t10,\n\t\t\t\t\t11,\n\t\t\t\t\t12,\n\t\t\t\t\t13,\n\t\t\t\t\t14,\n\t\t\t\t\t15,\n\t\t\t\t\t16,\n\t\t\t\t\t17,\n\t\t\t\t\t18,\n\t\t\t\t\t19,\n\t\t\t\t\t20,\n\t\t\t\t\t21,\n\t\t\t\t\t22,\n\t\t\t\t\t23,\n\t\t\t\t\t24,\n\t\t\t\t\t25,\n\t\t\t\t\t26,\n\t\t\t\t\t27,\n\t\t\t\t\t28,\n\t\t\t\t\t29,\n\t\t\t\t\t30,\n\t\t\t\t\t31,\n\t\t\t\t\t32,\n\t\t\t\t\t33,\n\t\t\t\t\t34,\n\t\t\t\t\t35,\n\t\t\t\t\t36,\n\t\t\t\t\t37,\n\t\t\t\t\t38,\n\t\t\t\t\t39,\n\t\t\t\t\t40,\n\t\t\t\t\t41,\n\t\t\t\t\t42,\n\t\t\t\t\t43,\n\t\t\t\t\t44,\n\t\t\t\t\t45,\n\t\t\t\t\t46,\n\t\t\t\t\t47,\n\t\t\t\t\t48,\n\t\t\t\t\t49,\n\t\t\t\t\t50,\n\t\t\t\t\t51,\n\t\t\t\t\t52,\n\t\t\t\t\t53,\n\t\t\t\t\t54,\n\t\t\t\t\t55,\n\t\t\t\t\t56,\n\t\t\t\t\t57,\n\t\t\t\t\t58,\n\t\t\t\t\t59,\n\t\t\t\t\t60,\n\t\t\t\t\t61,\n\t\t\t\t\t62,\n\t\t\t\t\t63,\n\t\t\t\t\t64,\n\t\t\t\t\t65,\n\t\t\t\t\t66,\n\t\t\t\t\t67,\n\t\t\t\t\t68,\n\t\t\t\t\t69,\n\t\t\t\t\t70,\n\t\t\t\t\t71,\n\t\t\t\t\t72,\n\t\t\t\t\t73,\n\t\t\t\t\t74,\n\t\t\t\t\t75,\n\t\t\t\t\t76,\n\t\t\t\t\t77,\n\t\t\t\t\t78,\n\t\t\t\t\t79,\n\t\t\t\t\t80,\n\t\t\t\t\t81,\n\t\t\t\t\t82,\n\t\t\t\t\t83,\n\t\t\t\t\t84,\n\t\t\t\t\t85,\n\t\t\t\t\t86,\n\t\t\t\t\t87,\n\t\t\t\t\t88,\n\t\t\t\t\t89,\n\t\t\t\t\t90,\n\t\t\t\t\t91,\n\t\t\t\t\t92,\n\t\t\t\t\t93,\n\t\t\t\t\t94,\n\t\t\t\t\t95,\n\t\t\t\t\t96,\n\t\t\t\t\t97,\n\t\t\t\t\t98,\n\t\t\t\t\t99,\n\t\t\t\t\t100,\n\t\t\t\t\t101,\n\t\t\t\t\t102,\n\t\t\t\t\t103,\n\t\t\t\t\t104,\n\t\t\t\t\t105,\n\t\t\t\t\t106,\n\t\t\t\t\t107,\n\t\t\t\t\t108,\n\t\t\t\t\t109,\n\t\t\t\t\t110,\n\t\t\t\t\t111,\n\t\t\t\t\t112,\n\t\t\t\t\t113,\n\t\t\t\t\t114,\n\t\t\t\t\t115,\n\t\t\t\t\t116,\n\t\t\t\t\t117,\n\t\t\t\t\t118,\n\t\t\t\t\t119,\n\t\t\t\t\t120,\n\t\t\t\t\t121,\n\t\t\t\t\t122,\n\t\t\t\t\t123,\n\t\t\t\t\t124,\n\t\t\t\t\t125,\n\t\t\t\t\t126,\n\t\t\t\t\t127,\n\t\t\t\t\t128,\n\t\t\t\t\t129,\n\t\t\t\t\t130,\n\t\t\t\t\t131,\n\t\t\t\t\t132,\n\t\t\t\t\t133,\n\t\t\t\t\t134,\n\t\t\t\t\t135,\n\t\t\t\t\t136,\n\t\t\t\t\t137,\n\t\t\t\t\t138,\n\t\t\t\t\t139,\n\t\t\t\t\t140,\n\t\t\t\t\t141,\n\t\t\t\t\t142,\n\t\t\t\t\t143,\n\t\t\t\t\t144,\n\t\t\t\t\t145,\n\t\t\t\t\t146,\n\t\t\t\t\t147,\n\t\t\t\t\t148,\n\t\t\t\t\t149,\n\t\t\t\t\t150,\n\t\t\t\t\t151,\n\t\t\t\t\t152,\n\t\t\t\t\t153,\n\t\t\t\t\t154,\n\t\t\t\t\t155,\n\t\t\t\t\t156,\n\t\t\t\t\t157,\n\t\t\t\t\t158,\n\t\t\t\t\t159,\n\t\t\t\t\t160,\n\t\t\t\t\t161,\n\t\t\t\t\t162,\n\t\t\t\t\t163,\n\t\t\t\t\t164,\n\t\t\t\t\t165,\n\t\t\t\t\t166,\n\t\t\t\t\t167,\n\t\t\t\t\t168,\n\t\t\t\t\t169,\n\t\t\t\t\t170,\n\t\t\t\t\t171,\n\t\t\t\t\t172,\n\t\t\t\t\t173,\n\t\t\t\t\t174,\n\t\t\t\t\t175,\n\t\t\t\t\t176,\n\t\t\t\t\t177,\n\t\t\t\t\t178,\n\t\t\t\t\t179,\n\t\t\t\t\t180,\n\t\t\t\t\t181,\n\t\t\t\t\t182,\n\t\t\t\t\t183,\n\t\t\t\t\t184,\n\t\t\t\t\t185,\n\t\t\t\t\t186,\n\t\t\t\t\t187,\n\t\t\t\t\t188,\n\t\t\t\t\t189,\n\t\t\t\t\t190,\n\t\t\t\t\t191,\n\t\t\t\t\t192,\n\t\t\t\t\t193,\n\t\t\t\t\t194,\n\t\t\t\t\t195,\n\t\t\t\t\t196,\n\t\t\t\t\t197,\n\t\t\t\t\t198,\n\t\t\t\t\t199,\n\t\t\t\t\t200,\n\t\t\t\t\t201,\n\t\t\t\t\t202,\n\t\t\t\t\t203,\n\t\t\t\t\t204,\n\t\t\t\t\t205,\n\t\t\t\t\t206,\n\t\t\t\t\t207,\n\t\t\t\t\t208,\n\t\t\t\t\t209,\n\t\t\t\t\t210,\n\t\t\t\t\t211,\n\t\t\t\t\t212,\n\t\t\t\t\t213,\n\t\t\t\t\t214,\n\t\t\t\t\t215,\n\t\t\t\t\t216,\n\t\t\t\t\t217,\n\t\t\t\t\t218,\n\t\t\t\t\t219,\n\t\t\t\t\t220,\n\t\t\t\t\t221,\n\t\t\t\t\t222,\n\t\t\t\t\t223,\n\t\t\t\t\t224,\n\t\t\t\t\t225,\n\t\t\t\t\t226,\n\t\t\t\t\t227,\n\t\t\t\t\t228,\n\t\t\t\t\t229,\n\t\t\t\t\t230,\n\t\t\t\t\t231,\n\t\t\t\t\t232,\n\t\t\t\t\t233,\n\t\t\t\t\t234,\n\t\t\t\t\t235,\n\t\t\t\t\t236,\n\t\t\t\t\t237,\n\t\t\t\t\t238,\n\t\t\t\t\t239,\n\t\t\t\t\t240,\n\t\t\t\t\t241,\n\t\t\t\t\t242,\n\t\t\t\t\t243,\n\t\t\t\t\t244,\n\t\t\t\t\t245,\n\t\t\t\t\t246,\n\t\t\t\t\t247,\n\t\t\t\t\t248,\n\t\t\t\t\t249,\n\t\t\t\t\t250,\n\t\t\t\t\t251,\n\t\t\t\t\t252,\n\t\t\t\t\t253,\n\t\t\t\t\t254,\n\t\t\t\t\t255,\n\t\t\t\t\t256,\n\t\t\t\t\t257,\n\t\t\t\t\t258,\n\t\t\t\t\t259,\n\t\t\t\t\t260,\n\t\t\t\t\t261,\n\t\t\t\t\t262,\n\t\t\t\t\t263,\n\t\t\t\t\t264,\n\t\t\t\t\t265,\n\t\t\t\t\t266,\n\t\t\t\t\t267,\n\t\t\t\t\t268,\n\t\t\t\t\t269,\n\t\t\t\t\t270,\n\t\t\t\t\t271,\n\t\t\t\t\t272,\n\t\t\t\t\t273,\n\t\t\t\t\t274,\n\t\t\t\t\t275,\n\t\t\t\t\t276,\n\t\t\t\t\t277,\n\t\t\t\t\t278,\n\t\t\t\t\t279,\n\t\t\t\t\t280,\n\t\t\t\t\t281,\n\t\t\t\t\t282,\n\t\t\t\t\t283,\n\t\t\t\t\t284,\n\t\t\t\t\t285,\n\t\t\t\t\t286,\n\t\t\t\t\t287,\n\t\t\t\t\t288,\n\t\t\t\t\t289,\n\t\t\t\t\t290,\n\t\t\t\t\t291,\n\t\t\t\t\t292,\n\t\t\t\t\t293,\n\t\t\t\t\t294,\n\t\t\t\t\t295,\n\t\t\t\t\t296,\n\t\t\t\t\t297,\n\t\t\t\t\t298,\n\t\t\t\t\t299\n\t\t\t\t],\n\t\t\t\t\"frequency\": [\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330,\n\t\t\t\t\t0,\n\t\t\t\t\t30,\n\t\t\t\t\t60,\n\t\t\t\t\t90,\n\t\t\t\t\t120,\n\t\t\t\t\t150,\n\t\t\t\t\t180,\n\t\t\t\t\t210,\n\t\t\t\t\t240,\n\t\t\t\t\t270,\n\t\t\t\t\t300,\n\t\t\t\t\t330\t\t\t\t\t\n\t\t\t\t],\n\t\t\t\t\"amplitude\": [\n\t\t\t\t\t0.000003099834,\n\t\t\t\t\t0.000004028436,\n\t\t\t\t\t0.000005538984,\n\t\t\t\t\t0.000005540319,\n\t\t\t\t\t0.000002965311,\n\t\t\t\t\t0.000002916245,\n\t\t\t\t\t0.000003928019,\n\t\t\t\t\t0.000002902876,\n\t\t\t\t\t0.000001947737,\n\t\t\t\t\t0.000001835289,\n\t\t\t\t\t0.000003632256,\n\t\t\t\t\t0.00001812258,\n\t\t\t\t\t0.00003949975,\n\t\t\t\t\t0.00000586541,\n\t\t\t\t\t0.000004762631,\n\t\t\t\t\t0.000007493253,\n\t\t\t\t\t0.00001087917,\n\t\t\t\t\t0.000007610112,\n\t\t\t\t\t0.000006334079,\n\t\t\t\t\t0.000008932318,\n\t\t\t\t\t0.00001350773,\n\t\t\t\t\t0.0000135077,\n\t\t\t\t\t0.000005677929,\n\t\t\t\t\t0.000005533712,\n\t\t\t\t\t0.00001023561,\n\t\t\t\t\t0.00001114273,\n\t\t\t\t\t0.000004578468,\n\t\t\t\t\t0.000003416394,\n\t\t\t\t\t0.000003401412,\n\t\t\t\t\t0.000006228966,\n\t\t\t\t\t0.000008672869,\n\t\t\t\t\t0.000008758053,\n\t\t\t\t\t0.00000681218,\n\t\t\t\t\t0.000005644619,\n\t\t\t\t\t0.000004605306,\n\t\t\t\t\t0.000004384288,\n\t\t\t\t\t0.000005619596,\n\t\t\t\t\t0.00000641018,\n\t\t\t\t\t0.000004050266,\n\t\t\t\t\t0.000002681594,\n\t\t\t\t\t0.000002453372,\n\t\t\t\t\t0.000003049039,\n\t\t\t\t\t0.000003472448,\n\t\t\t\t\t0.000002877045,\n\t\t\t\t\t0.000002599819,\n\t\t\t\t\t0.000003555547,\n\t\t\t\t\t0.0000060548,\n\t\t\t\t\t0.000006178261,\n\t\t\t\t\t0.000001771734,\n\t\t\t\t\t0.000001249343,\n\t\t\t\t\t0.000001224683,\n\t\t\t\t\t0.000001791411,\n\t\t\t\t\t0.000001978215,\n\t\t\t\t\t0.000001484227,\n\t\t\t\t\t0.000001328021,\n\t\t\t\t\t0.000001729311,\n\t\t\t\t\t0.000003068635,\n\t\t\t\t\t0.000004422698,\n\t\t\t\t\t0.000004423713,\n\t\t\t\t\t0.000003473339,\n\t\t\t\t\t0.00000466192,\n\t\t\t\t\t0.000007053583,\n\t\t\t\t\t0.000008657343,\n\t\t\t\t\t0.000008658815,\n\t\t\t\t\t0.000003865724,\n\t\t\t\t\t0.000002267876,\n\t\t\t\t\t0.000001765242,\n\t\t\t\t\t0.000001735143,\n\t\t\t\t\t0.000002107649,\n\t\t\t\t\t0.000002405385,\n\t\t\t\t\t0.00000314977,\n\t\t\t\t\t0.000006306491,\n\t\t\t\t\t0.00001022093,\n\t\t\t\t\t0.000003941893,\n\t\t\t\t\t0.000002513284,\n\t\t\t\t\t0.000002492081,\n\t\t\t\t\t0.000005640787,\n\t\t\t\t\t0.000005801551,\n\t\t\t\t\t0.000001850532,\n\t\t\t\t\t0.000001545848,\n\t\t\t\t\t0.000001878823,\n\t\t\t\t\t0.000002118144,\n\t\t\t\t\t0.00000168866,\n\t\t\t\t\t0.000001467988,\n\t\t\t\t\t0.000001467888,\n\t\t\t\t\t0.000002507675,\n\t\t\t\t\t0.000005432723,\n\t\t\t\t\t0.00004138939,\n\t\t\t\t\t0.00007878744,\n\t\t\t\t\t0.000002148385,\n\t\t\t\t\t0.000001272429,\n\t\t\t\t\t0.000001239659,\n\t\t\t\t\t0.000002151162,\n\t\t\t\t\t0.000002223216,\n\t\t\t\t\t9.514226e-7,\n\t\t\t\t\t7.628221e-7,\n\t\t\t\t\t7.367391e-7,\n\t\t\t\t\t5.615488e-7,\n\t\t\t\t\t3.763588e-7,\n\t\t\t\t\t3.182861e-7,\n\t\t\t\t\t0.00008720352,\n\t\t\t\t\t0.00009685264,\n\t\t\t\t\t0.0001166456,\n\t\t\t\t\t0.0001245105,\n\t\t\t\t\t0.000111457,\n\t\t\t\t\t0.0001016245,\n\t\t\t\t\t0.0001012874,\n\t\t\t\t\t0.000137296,\n\t\t\t\t\t0.0002033884,\n\t\t\t\t\t0.0002414673,\n\t\t\t\t\t0.000155947,\n\t\t\t\t\t0.00009707027,\n\t\t\t\t\t0.00007641292,\n\t\t\t\t\t0.00007444285,\n\t\t\t\t\t0.00009210774,\n\t\t\t\t\t0.00012493,\n\t\t\t\t\t0.0001761304,\n\t\t\t\t\t0.0002038576,\n\t\t\t\t\t0.0001621492,\n\t\t\t\t\t0.0001292747,\n\t\t\t\t\t0.0001274089,\n\t\t\t\t\t0.0002145275,\n\t\t\t\t\t0.0002690891,\n\t\t\t\t\t0.0001547865,\n\t\t\t\t\t0.0001031539,\n\t\t\t\t\t0.00009705727,\n\t\t\t\t\t0.0001254841,\n\t\t\t\t\t0.0001405329,\n\t\t\t\t\t0.0001019475,\n\t\t\t\t\t0.00006858956,\n\t\t\t\t\t0.00005354858,\n\t\t\t\t\t0.00005079311,\n\t\t\t\t\t0.00005804735,\n\t\t\t\t\t0.00006426609,\n\t\t\t\t\t0.00005537083,\n\t\t\t\t\t0.00004466469,\n\t\t\t\t\t0.00004273357,\n\t\t\t\t\t0.0000500356,\n\t\t\t\t\t0.0000525953,\n\t\t\t\t\t0.00004353821,\n\t\t\t\t\t0.00004014577,\n\t\t\t\t\t0.00004508994,\n\t\t\t\t\t0.00004948557,\n\t\t\t\t\t0.00004537616,\n\t\t\t\t\t0.00004362435,\n\t\t\t\t\t0.00004640087,\n\t\t\t\t\t0.00003410488,\n\t\t\t\t\t0.00001999406,\n\t\t\t\t\t0.00001452696,\n\t\t\t\t\t0.00001371707,\n\t\t\t\t\t0.0000138632,\n\t\t\t\t\t0.00001100945,\n\t\t\t\t\t0.000008915403,\n\t\t\t\t\t0.000008697918,\n\t\t\t\t\t0.00001155353,\n\t\t\t\t\t0.00001265807,\n\t\t\t\t\t0.000008986752,\n\t\t\t\t\t0.000007180649,\n\t\t\t\t\t0.000007134833,\n\t\t\t\t\t0.00001392998,\n\t\t\t\t\t0.00003040888,\n\t\t\t\t\t0.00003648595,\n\t\t\t\t\t0.00002182846,\n\t\t\t\t\t0.00001868189,\n\t\t\t\t\t0.00001868129,\n\t\t\t\t\t0.00002554122,\n\t\t\t\t\t0.00002765163,\n\t\t\t\t\t0.00002141019,\n\t\t\t\t\t0.00001502029,\n\t\t\t\t\t0.0000124734,\n\t\t\t\t\t0.00001240781,\n\t\t\t\t\t0.00001812409,\n\t\t\t\t\t0.00002182437,\n\t\t\t\t\t0.00002183359,\n\t\t\t\t\t0.00001873765,\n\t\t\t\t\t0.0000244983,\n\t\t\t\t\t0.00003884116,\n\t\t\t\t\t0.00004536019,\n\t\t\t\t\t0.00003252367,\n\t\t\t\t\t0.00002613762,\n\t\t\t\t\t0.00002507491,\n\t\t\t\t\t0.00002666738,\n\t\t\t\t\t0.00003013579,\n\t\t\t\t\t0.00003597554,\n\t\t\t\t\t0.0000403447,\n\t\t\t\t\t0.00004047306,\n\t\t\t\t\t0.00003879752,\n\t\t\t\t\t0.00004762739,\n\t\t\t\t\t0.00005045085,\n\t\t\t\t\t0.00002948583,\n\t\t\t\t\t0.00001958635,\n\t\t\t\t\t0.00001798556,\n\t\t\t\t\t0.00002264136,\n\t\t\t\t\t0.0000238562,\n\t\t\t\t\t0.00001065534,\n\t\t\t\t\t0.000005865752,\n\t\t\t\t\t0.000004345169,\n\t\t\t\t\t0.00000415518,\n\t\t\t\t\t0.000004876393,\n\t\t\t\t\t0.000005389607,\n\t\t\t\t\t0.00001448816,\n\t\t\t\t\t0.000008103253,\n\t\t\t\t\t0.000005533944,\n\t\t\t\t\t0.000005492484,\n\t\t\t\t\t0.0000103928,\n\t\t\t\t\t0.00001065432,\n\t\t\t\t\t0.000004436586,\n\t\t\t\t\t0.000003606146,\n\t\t\t\t\t0.000003605153,\n\t\t\t\t\t0.000006232226,\n\t\t\t\t\t0.00001046906,\n\t\t\t\t\t0.0000157467,\n\t\t\t\t\t0.00001630976,\n\t\t\t\t\t0.00001129989,\n\t\t\t\t\t0.00001106731,\n\t\t\t\t\t0.00002485827,\n\t\t\t\t\t0.00003140102,\n\t\t\t\t\t0.000007101754,\n\t\t\t\t\t0.000003832402,\n\t\t\t\t\t0.000003388568,\n\t\t\t\t\t0.000004878887,\n\t\t\t\t\t0.0000106011,\n\t\t\t\t\t0.00001993216,\n\t\t\t\t\t0.00001993966,\n\t\t\t\t\t0.000009369188,\n\t\t\t\t\t0.000009183927,\n\t\t\t\t\t0.00001240235,\n\t\t\t\t\t0.00001261035,\n\t\t\t\t\t0.000009421056,\n\t\t\t\t\t0.000009398941,\n\t\t\t\t\t0.00002323385,\n\t\t\t\t\t0.00002748706,\n\t\t\t\t\t0.000008544686,\n\t\t\t\t\t0.000006254267,\n\t\t\t\t\t0.000006248377,\n\t\t\t\t\t0.000009372785,\n\t\t\t\t\t0.00000937286,\n\t\t\t\t\t0.000006892785,\n\t\t\t\t\t0.00001032252,\n\t\t\t\t\t0.00001480628,\n\t\t\t\t\t0.000008201671,\n\t\t\t\t\t0.000005703174,\n\t\t\t\t\t0.000005682747,\n\t\t\t\t\t0.00001122718,\n\t\t\t\t\t0.00001133073,\n\t\t\t\t\t0.000005524457,\n\t\t\t\t\t0.00000545581,\n\t\t\t\t\t0.000007238784,\n\t\t\t\t\t0.000003608191,\n\t\t\t\t\t0.000002251516,\n\t\t\t\t\t0.000002150799,\n\t\t\t\t\t0.000003879623,\n\t\t\t\t\t0.000004974335,\n\t\t\t\t\t0.000002910253,\n\t\t\t\t\t0.000002386017,\n\t\t\t\t\t0.000003370788,\n\t\t\t\t\t0.000006231787,\n\t\t\t\t\t0.000006688219,\n\t\t\t\t\t0.000003827036,\n\t\t\t\t\t0.000003741272,\n\t\t\t\t\t0.000007102119,\n\t\t\t\t\t0.000009800449,\n\t\t\t\t\t0.000009800517,\n\t\t\t\t\t0.000007648697,\n\t\t\t\t\t0.000005497299,\n\t\t\t\t\t0.000003354137,\n\t\t\t\t\t0.000002671915,\n\t\t\t\t\t0.000002669446,\n\t\t\t\t\t0.000005165787,\n\t\t\t\t\t0.00000700147,\n\t\t\t\t\t0.000007058889,\n\t\t\t\t\t0.000007040809,\n\t\t\t\t\t0.00001511897,\n\t\t\t\t\t0.000006688136,\n\t\t\t\t\t0.000003405841,\n\t\t\t\t\t0.000002922314,\n\t\t\t\t\t0.000003789932,\n\t\t\t\t\t0.000004735296,\n\t\t\t\t\t0.000004735387,\n\t\t\t\t\t0.000003464985,\n\t\t\t\t\t0.00000407669,\n\t\t\t\t\t0.000004686252,\n\t\t\t\t\t0.000003128095,\n\t\t\t\t\t0.000002034804,\n\t\t\t\t\t0.000001837777,\n\t\t\t\t\t0.000002781447,\n\t\t\t\t\t0.000008459812,\n\t\t\t\t\t0.00002590469,\n\t\t\t\t\t0.000004681136,\n\t\t\t\t\t0.00000219421,\n\t\t\t\t\t0.000001867351,\n\t\t\t\t\t0.000002570729,\n\t\t\t\t\t0.000003857864,\n\t\t\t\t\t0.000003862118,\n\t\t\t\t\t0.000001023117,\n\t\t\t\t\t6.249619e-7,\n\t\t\t\t\t5.196588e-7,\n\t\t\t\t\t5.169898e-7,\n\t\t\t\t\t6.747877e-7,\n\t\t\t\t\t7.618696e-7\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t]\n}","output":"json","x":390,"y":160,"wires":[["151dd84.77c2028"]]}]